footer#footer
  p Impressum: 
    a( href="https://shop.gm-scripts.com/terms/impressum" ) shop.gm-scripts.com/terms/impressum
  p Terms & Conditions: 
    a( href="https://shop.gm-scripts.com/terms/checkout" ) shop.gm-scripts.com/terms/checkout  
  p Discord server: 
    a( href="https://discord.gg/hzdxWSdTTE" ) discord.gg/hzdxWSdTTE
  p Mail: 
    a( href="mailto:info@gm-scripts.com" ) info@gm-scripts.com
  p Shop: 
    a( href="https://shop.gm-scripts.com/" ) shop.gm-scripts.com

  p#this-is-a-footer This is a footer!
