nav
  a( href="/" ) Home
  a( href="./about.html" ) About
  //- a( href="/doc" ) Documentation
  a( href="https://shop.gm-scripts.com" ) Shop
  a( href="https://discord.gg/hzdxWSdTTE" target="_blank" ) Discord
