// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,200&display=swap')

*
  box-sizing: border-box


@import "./pages/_home"
@import "./pages/_about"
@import "./layout/_nav"
@import "./layout/_footer"

html, body
  margin: 0
  padding: 0
  font-family: 'Montserrat', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50 
