@import "../util/var"
@import "../components/card-grid"
@import "../components/button"
@import "../components/card"

.home
  @include card-grid(70rem)
  color: #efefff
  position: relative
  background-color: $bg-primary
  padding-bottom: 5rem
  #header
    .skewed
      background-color: $bg-secondary
      position: relative
      top: 0
      bottom: 0
      right: 0
      left: 0
      width: 100%
      height: 100vh
      z-index: 0
      transform: skewY(6deg)
      transform-origin: top right
      display: grid
      grid-template-columns: 1fr 1fr
      place-items: center
      #main-headers
        user-select: none
        transform: skewY(-6deg)
        padding: 5vw
        text-align: left
        h1
          font-size: 1.81rem
          text-shadow: 0 5px 10px #0000007f
          font-weight: 600
          margin-bottom: 3%
        p
          margin: 0
          font-size: 1.5rem
          text-shadow: 0 3px 6px #0000007f
          margin-bottom: 5%
        #header-btns
          display: grid
          grid-template-columns: 1fr 1fr
          gap: 1rem
      #header-logo
        transform: skewY(-6deg)
        img
          height: 80vh
  #products
    h1
      font-size: 2rem
    h2
      margin-top: 4rem
      margin-bottom: 1rem
    .product
      width: 40rem
      filter: drop-shadow(0 1.5rem 3.5rem #0000007f)
      margin: auto
    .btn-container#products-btn
      margin: auto
      margin-top: 7.5rem
      cursor: pointer
      border-radius: 1.25rem
      width: 20rem
