@import "../util/position"
@import "../util/var"
@import "../components/card-grid"
@import "../components/button"
@import "../components/card"

.home
  @include card-grid(70rem)
  #header
    .skewed
      background-color: $bg-secondary
      position: relative
      @include position(0)
      width: 100%
      height: 100vh
      z-index: 0
      transform: skewY(6deg)
      transform-origin: top right
      display: grid
      grid-template-columns: 1fr 1fr
      place-items: center
      @media only screen and (min-width: 320px) and (max-width: 480px) 
        padding-top: 5rem
        grid-template-columns: 1fr
      &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        @media only screen and (min-width: 320px) and (max-width: 480px) 
          background-image: url(../assets/icons/gm_logo_inkscape.svg)
          background-position: left
          background-repeat: no-repeat
          background-size: auto 75%
          filter: opacity(30%)
          transform: skewY(-6deg)
      #main-headers
        user-select: none
        transform: skewY(-6deg)
        padding: 5vw
        text-align: left
        h1
          font-size: 1.81rem
          text-shadow: 0 5px 10px #0000007f
          font-weight: 600
          margin-bottom: 3%
        p
          margin: 0
          font-size: 1.5rem
          text-shadow: 0 3px 6px #0000007f
          margin-bottom: 5%
        #header-btns
          display: flex
          flex-wrap: wrap
          align-items: stretch
          .btn-container
            flex: 1
      #header-logo
        transform: skewY(-6deg)
        img
          height: 80vh
          @media only screen and (min-width: 320px) and (max-width: 480px) 
            display: none
  #products
    h1
      font-size: 2rem
    h2
      margin-top: 4rem
      margin-bottom: 1rem
    .product
      width: 40rem
      filter: drop-shadow(0 1.5rem 3.5rem #0000007f)
      margin: auto
    .btn-container#products-btn
      margin: auto
      margin-top: 7.5rem
      cursor: pointer
      border-radius: 1.25rem
      width: 20rem
