.home {
  color: #efefff;
  position: relative;
  background-color: #4a4a55;
}

.home #header .skewed {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #35353f;
  background-position: top right;
  background-size: 44% auto;
  background-repeat: no-repeat;
  z-index: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.home #header .skewed #main-headers {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  width: 50%;
  position: absolute;
  left: 0;
  padding: 5vw;
  text-align: left;
}

.home #header .skewed #main-headers h1 {
  font-size: 1.81rem;
  text-shadow: 0 5px 10px #0000007f;
  font-weight: 600;
  margin-bottom: 3%;
}

.home #header .skewed #main-headers p {
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 0 3px 6px #0000007f;
  margin-bottom: 5%;
}

.home #header .skewed #main-headers #header-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home #header .skewed #main-headers #header-btns .btn-container {
  cursor: pointer;
  border-radius: 1.25rem;
}

.home #header .skewed #main-headers #header-btns .btn-container .btn {
  height: 2.5rem;
  font-size: 1.25rem;
  width: 100%;
  background-color: #35353f;
  border: 3px solid #23bf7c;
  color: #eaeaf4;
  border-radius: 1.25rem;
  text-align: center;
  -webkit-transition: background-color 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: background-color 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
}

.home #header .skewed #main-headers #header-btns .btn-container .btn.to-shop {
  background-color: #23bf7c;
}

.home #header .skewed #main-headers #header-btns .btn-container:hover .btn {
  -webkit-box-shadow: 0 0.25rem 0.5rem #23bf7c7f;
          box-shadow: 0 0.25rem 0.5rem #23bf7c7f;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s, -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  background-color: #23bf7c;
}

.home #header .skewed #main-headers #header-btns .btn-container:active .btn {
  -webkit-transform: translateY(0 scale(0.95));
          transform: translateY(0 scale(0.95));
  -webkit-box-shadow: 0 0 0.25rem #23bf7c7f;
          box-shadow: 0 0 0.25rem #23bf7c7f;
  -webkit-transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
  transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s, -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
}

.home #header .skewed #main-headers #header-btns .btn-container p {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

.home #cards {
  height: 25rem;
}

.home #cards h1 {
  font-size: 2rem;
}

.home #cards #cards-grid {
  margin-top: 2rem;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 5rem;
}

.home #cards .card {
  height: 12rem;
  width: 17rem;
  border: 3px solid #23bf7c;
  border-radius: 1.25rem;
}

.home #cards .card img {
  margin: auto;
  margin-top: 1rem;
  height: 5rem;
}

.home #cards .card h2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.home #cards .card p {
  margin-top: -0.4rem;
}

.home #products h1 {
  font-size: 2rem;
}

.home #products h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.home #products .product {
  height: 30rem;
  -webkit-filter: drop-shadow(0 1.5rem 3.5rem #0000007f);
          filter: drop-shadow(0 1.5rem 3.5rem #0000007f);
  margin: auto;
}

.home #products #products-btn-container {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
  cursor: pointer;
  border-radius: 1.25rem;
  width: 20rem;
}

.home #products #products-btn-container #products-btn {
  height: 2.5rem;
  line-height: 2rem;
  font-size: 1.25rem;
  width: 20rem;
  border: 3px solid #23bf7c;
  border-radius: 1.25rem;
  text-align: center;
  -webkit-transition: background-color 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: background-color 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
}

.home #products #products-btn-container #products-btn:hover {
  -webkit-box-shadow: 0 0.25rem 0.5rem #23bf7c7f;
          box-shadow: 0 0.25rem 0.5rem #23bf7c7f;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s, -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  background-color: #23bf7c;
}

.home #products #products-btn-container #products-btn:active {
  -webkit-transform: translateY(0 scale(0.95));
          transform: translateY(0 scale(0.95));
  -webkit-box-shadow: 0 0 0.25rem #23bf7c7f;
          box-shadow: 0 0 0.25rem #23bf7c7f;
  -webkit-transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
  transition: -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s, -webkit-transform 0.05s, -webkit-box-shadow 0.05s;
}

.home #products #products-btn-container #products-btn p {
  margin-top: 0.25rem;
}

.home footer {
  height: 15rem;
  background-color: #23232f;
}
/*# sourceMappingURL=home.css.map */