extends ../layout.pug 
include ../mixins/card.pug

block append head 
  title Boilerplate Main site

block content
  .content.home
    section#header
      .skewed
        #main-headers
          h1 You need FiveM scripts for a unique and performant server? <br> You've come to the right place!
          p We offer high quality scripts at good prices!
          #header-btns
            .btn-container
              button.btn.to-shop(onclick="window.location.replace('https://shop.gm-scripts.com/category/scripts')"). 
                See products
            .btn-container
              button.btn.more-info(onclick="document.querySelector('#why-us').scrollIntoView({behavior:'smooth'})"). 
                Tell me more
        #header-logo
          img(src="../assets/icons/gm_logo_inkscape.svg", alt="ein tolles logo")
    section#why-us
      h1 Why choose us?
      .cards
        .card-container
          +card("../assets/icons/quality.png", "Quality & Performance", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
          +card("../assets/icons/compatible.png", "Compatibility", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
          +card("../assets/icons/configurable.png", "Configurable", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
    section#products
      h1 Our Products
      #products-grid
        h2 Drivingschool
        img.product(src="../assets/img/drivingschool.png")
        br
        h2 Bike Rental
        img.product(src="../assets/img/bikerental.png")
        .btn-container#products-btn
          button.btn(onclick="window.location.replace('https://shop.gm-scripts.com/category/scripts')"). 
            Show me more

