@import "../util/_var"

nav
  padding: 1.5rem
  z-index: 1
  position: fixed
  top: 0
  width: 100%
  background-color: $bg-secondary-transparent
  backdrop-filter: blur(35px)
  a
    margin: 0.55rem
    font-weight: bold
    color: $text-primary-b
    text-decoration: none
    transition: color 0.15s
    &:hover
      text-decoration: underline
      color: $brand
